* {
    standard-background-color: rgb(78,53,73);
    -fx-font-family: "Circe Light";
    -fx-text-fill: white;
    -fx-background-color: standard-background-color;
}

.label {
    -fx-font-size: 20;
}

.text-field {
    -fx-font-size: 40;
}

.check-box {
    -fx-font-size: 16;
}

.check-box .box {
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 3;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.radio-button > .radio,
.radio-button > .radio > .dot {
    -fx-background-color: white;
}

.radio-button > .label,
#asnStrategyLabel {
    -fx-font-size: 14;
}

.radio-button:selected > .radio > .dot {
    -fx-background-insets: 0;
    -fx-background-color: standard-background-color;
}

#btnNext,
.help-icon > * {
    -fx-fill: rgb(255,255,255);
    -fx-cursor: hand;
}

#btnNext:hover,
.help-icon:hover > * {
    -fx-fill: rgba(255,255,255, 0.5);
}

#sameNumberField,
#sameNumberLabel {
    -fx-font-size: 16;
}


