* {
    gray-color-transparent: rgba(124,121,121, 0.2);
    gray-color: rgba(124,121,121, 0.4);
}

#numberBack {
    -fx-background-color: black;
}

#number {
    /* base settings */
    -fx-text-fill: white;
    -fx-font-family: "Circe Extra Bold";
}

.svgPane {
    -fx-max-width: 24;
    -fx-max-height: 24;
    -fx-scaleX: 0.5;
    -fx-scaleY: 0.5;
}

.svg {
    -fx-fill: gray-color-transparent;
}

.button {
    -fx-font-family: "Circe Light";
    -fx-background-color: transparent;
    -fx-text-fill: gray-color-transparent;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: white;
}

.btn {
    -fx-font-family: "Circe Light";
    -fx-fill: gray-color-transparent;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-fill: white;
}

.slider .track {
    -fx-background-color: gray-color-transparent;
}

.slider .thumb {
    -fx-background-color: gray-color;
}

.slider:hover .thumb {
    -fx-background-color: white;
}


