* {
    -fx-font-family: "Circe Light";
    gray-color-transparent: rgb(124,121,121, 0.5);
    gray-color: rgb(124,121,121);
}

#number {
    -fx-font-size: 240;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: transparent;
    -fx-text-fill: gray-color-transparent;
    -fx-cursor: hand;
}

.button:hover {
    -fx-text-fill: white;
}

.btn {
    -fx-fill: gray-color-transparent;
    -fx-cursor: hand;
}

.btn:hover {
    -fx-fill: black;
}

.slider .track {
    -fx-background-color: gray-color-transparent;
}

.slider .thumb {
    -fx-background-color: gray-color;
}

.slider:hover .thumb {
    -fx-background-color: black;
}


